button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-1-color);
  color: #000;
  outline: none;
  text-decoration: none;
  font-weight: bold;

  border-radius: var(--border-radius);
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--highlight-1-color);
  color: var(--highlight-2-color);
  cursor: pointer;
}

button:disabled {
  background-color: var(--highlight-1-color);
  color: var(--highlight-2-color);
  cursor: not-allowed;
}
