article.dish {
  display: flex;
  flex-direction: column;
  flex: 1;

  align-items: flex-start;
}

article.dish img {
  width: 100%;
  height: 200px;
  border-radius: var(--border-radius);
  object-fit: cover;

  text-align: center;
}

article.dish div.dish-content {
  display: flex;
  flex-direction: column;

  padding: 0px 18px;
  gap: var(--small-gap);
}

article.dish .dish-header {
  justify-content: space-between;
  align-items: flex-start;
}

article.dish .price {
  color: var(--secondary-1-color);
}