section.hero {
  display: flex;
  flex-direction: row;

  background-color: var(--primary-2-color);
  color: var(--highlight-1-color);
}

section#hero > div,
section#hero > img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  flex: 1;
  gap: var(--small-gap);
}

section#hero > img {
  max-width: 50%;
  height: auto;
  border-radius: var(--border-radius);
  background-color: lightgray;
}
