section.hero {
    display: flex;
    flex-direction: row;
}

section#hero > div,
section#hero > img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    flex: 1;
    gap: var(--small-gap);
}

section.hero > img {
    height: auto;
    border-radius: var(--border-radius);
    background-color: lightgray;
}

a.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f4ce14;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-radius: var(--border-radius);
    transition: background-color 0.3s;
}

a.btn:hover {
    background-color: #e0b800;
}