section#specials > div {
  display: flex;
  flex-direction: row;
  width: 100%;

  gap: var(--medium-gap);
}

section#specials > header {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
}
