:root {
  --primary-1-color: #f4ce14;
  --primary-2-color: #495e57;
  --secondary-1-color: #EE9972;
  --secondary-2-color: #FBDABB;
  --highlight-1-color: #EDEFEE;
  --highlight-2-color: #333333;

  --heading-font-family: "Markazi Text", serif;
  --paragraph-font-family: "Karla", sans-serif;

  --paragraph-font-size: 16px;
  --card-title-font-size: 18px;
  --sub-title-font-size: 40px;

  --paragraph-line-height: 1.5;

  /* Spacing */
  --x-small-gap: 8px;
  --small-gap: 12px;
  --medium-gap: 24px;
  --large-gap: 36px;

  --border-radius: 12px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  object-fit: contain;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--paragraph-font-family);
  font-size: var(--paragraph-font-size);
  line-height: var(--paragraph-line-height);
  color: var(--highlight-2-color);
}

 hr {
  border: 0;
  height: 1px;
  background-color: var(--highlight-2-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-optical-sizing: auto;
  font-style: normal;
}

header,
main,
main section,
footer {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 890px;
  gap: var(--large-gap);
}

section {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
}

li {
  list-style: none;
}

a {
  font-family: "Markazi Text", serif;
  font-size: var(--card-title-font-size);
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.primary-text {
  color: var(--primary-1-color);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
