footer {
    flex-direction: row;
}

footer > img, footer > article {
    display: flex;
    flex-direction: column;

    flex: 1;
    gap: var(--small-gap);
}

footer > img {
    width: 100%;
    height: 200px;
    border-radius: 12px;

    background-color: lightgray;
}